.section {
  /* Fallback */
  padding: 0 1rem;

  /* iOS 11 */
  padding-left: calc(max(1rem, constant(safe-area-inset-left)));
  padding-right: calc(max(1rem, constant(safe-area-inset-right)));

  /* iOS 11.2+ */
  padding-left: calc(max(1rem, env(safe-area-inset-left)));
  padding-right: calc(max(1rem, env(safe-area-inset-right)));

  max-width: var(--section-width, 1800px);
  margin: 0 auto;
}

.section--background-color .container {
  background-color: inherit;
  padding: var(--container-margin-bottom) 0;
  margin: 0 auto;
}
