.nav {
  display: flex;
  flex-direction: var(--nav-flex-direction);
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}

.nav__primary {
  height: var(--nav-height);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav__logo,
.nav__logo:hover,
.nav__logo img {
  border: none;
  padding: 0;
  height: 6rem;
}

.nav__menu-button {
  appearance: none;
  background: none;
  border: none;
  color: var(--lagom-semantic-color-fg-default);
  cursor: pointer;
  display: var(--nav-menu-button-display);
  align-self: flex-end;
  height: 3.25rem;
  margin-left: auto;
  position: relative;
  width: 3.25rem;
}

.nav__menu-button span {
  --nav-menu-button-span-width: 32px;
  --nav-menu-button-span-gap: 8px;
  border-radius: 1px;
  background-color: var(--lagom-semantic-color-fg-default);
  display: var(--nav-menu-button-display);
  height: 2px;
  left: calc((3.25rem - var(--nav-menu-button-span-width)) / 2);
  position: absolute;
  transform-origin: center;
  transition-duration: 200ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-in-out;
  width: var(--nav-menu-button-span-width);
}

.nav__menu-button span:first-child {
  top: calc(50% - var(--nav-menu-button-span-gap));
}
.nav__menu-button span:nth-child(2) {
  top: 50%;
}
.nav__menu-button span:nth-child(3) {
  top: calc(50% + var(--nav-menu-button-span-gap));
}

.nav__menu-button.nav__menu-button--active span:first-child {
  transform: translateY(var(--nav-menu-button-span-gap)) rotate(45deg);
}
.nav__menu-button.nav__menu-button--active span:nth-child(2) {
  opacity: 0;
}
.nav__menu-button.nav__menu-button--active span:nth-child(3) {
  transform: translateY(calc(-1 * var(--nav-menu-button-span-gap)))
    rotate(-45deg);
}

.nav__menu {
  display: var(--nav-menu-display);
  align-items: center;
  margin: 0;
  padding: 16px 0 0 0;
  list-style-type: none;
  gap: var(--nav-menu-flex-gap);
}

.nav__menu--active {
  display: flex;
  flex-direction: var(--nav-menu-flex-direction);
}

.nav__menu-link {
  border-color: transparent;
}
