@import "./variables.css";

html {
  background-color: var(--lagom-semantic-color-bg-default);
}

.navbar .navbar-menu {
  box-shadow: none !important;
}

.full-width-image-container {
  width: 100vw;
  height: 400px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 2rem -50vw;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-list-item {
  margin: 2rem 0;
}

.blog-list-item.is-featured {
  background-color: var(--lagom-core-colors-honey-base);
}
