@import "./variables.css";
@import "./global-style.css";

html {
  background-color: var(--lagom-semantic-color-bg-default);
}

.blog-list-item {
  margin: 2rem 0;
}

.blog-list-item.is-featured {
  background-color: var(--lagom-semantic-color-accent-bg);
  margin: 0 -15%;
  padding: 2rem 15%;
  border-radius: 8px;
}
