* {
  -webkit-font-smoothing: antialiased;
}
::selection {
  background: var(
    --lagom-core-colors-olive-lighter40
  ); /* WebKit/Blink Browsers */
  color: var(--lagom-core-colors-grey-darker40);
}
::-moz-selection {
  background: var(--lagom-core-colors-olive-lighter40); /* Gecko Browsers */
  color: var(--lagom-core-colors-grey-darker40);
}

html {
  background-color: var(--lagom-semantic-color-bg-default);
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--lagom-semantic-color-bg-default);
  color: var(--lagom-semantic-color-fg-default);
  font-family: var(--lagom-core-font-families-body);
  font-size: var(--lagom-core-font-sizes-body);
  line-height: var(--lagom-core-line-heights-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--lagom-core-font-families-heading);
  font-weight: var(--lagom-core-font-weights-heading-bold);
  margin: 0;
}

h1 {
  font-size: var(--font-sizes-h1);
  line-height: var(--lagom-core-line-heights-heading);
}
h2 {
  font-size: var(--font-sizes-h2);
  line-height: var(--lagom-core-line-heights-heading);
}
h3 {
  font-size: var(--font-sizes-h3);
  line-height: var(--lagom-core-line-heights-heading);
}
h4 {
  font-size: var(--font-sizes-h4);
  line-height: var(--lagom-core-line-heights-heading);
}
h5 {
  font-size: var(--font-sizes-h5);
  line-height: var(--lagom-core-line-heights-heading);
}
h6 {
  font-size: var(--font-sizes-h6);
  line-height: var(--lagom-core-line-heights-heading);
}

strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
