:root {
  --nav-flex-direction: row;
  --nav-menu-flex-direction: row;
  --nav-menu-flex-gap: 2rem;
  --nav-menu-button-display: none;
  --nav-menu-display: flex;
  --footer-links-flex-direction: row;
  --footer-links-gap: 2rem;

  /* lagom overrides */

  --lagom-component-section-width: 1400px;
  --lagom-component-container-width: 800px;

  --lagom-component-button-border-radius: 2rem 0 2rem 2rem;
}

/* tablet landscape */
@media screen and (max-width: 992px) {
  :root {
    --lagom-core-font-sizes-h1: 39.063px;
    --lagom-core-font-sizes-h2: 31.25px;
    --lagom-core-font-sizes-h3: 25px;
    --lagom-core-font-sizes-h4: 20px;
    --lagom-core-font-sizes-h5: 16px;
    --lagom-core-font-sizes-h6: 16px;
    --lagom-component-page-header-typography: 700 81px/1.22 "Montserrat";
    --lagom-component-section-header-typography: 700 54px/1.22 "Montserrat";
  }
}

/* tablet portrait */
@media screen and (max-width: 768px) {
}

/* mobile landscape */
@media screen and (max-width: 568px) {
  :root {
    --nav-flex-direction: column;
    --nav-menu-flex-direction: column;
    --nav-menu-flex-gap: 1rem;
    --nav-menu-button-display: block;
    --nav-menu-display: none;
    --footer-links-flex-direction: column;
    --footer-links-gap: 0.5rem;
    --lagom-core-font-sizes-h1: 31.25px;
    --lagom-core-font-sizes-h2: 25px;
    --lagom-core-font-sizes-h3: 20px;
    --lagom-core-font-sizes-h4: 16px;
    --lagom-core-font-sizes-h5: 16px;
    --lagom-core-font-sizes-h6: 16px;
    --lagom-component-page-header-typography: 700 54px/1.22 "Montserrat";
    --lagom-component-section-header-typography: 700 36px/1.22 "Montserrat";
  }
}

/* mobile portrait */
@media screen and (max-width: 320px) {
}

/* emphasized */
@media screen and (min-width: 1300px) {
}
